* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.color {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.color h2 {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s;
}

.color h2:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.color button {
    outline: none;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s;
}

.color button:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}